{
  "semi": true,
  "printWidth": 90,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "jsxBracketSameLine": true
}
